<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Chat </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <div class="chat">
      <div
        class="messageContainer"
        [ngClass]="{'myMessage': message.user === chatService.id}"
        *ngFor="let message of chatService.messages | async "
      >
        <div class="message">
          <p>{{message.message}}</p>
        </div>
      </div>
    </div>
    <form>
      <input placeholder="Escreva uma mensagem..." type="text"  id="message" name="message" [(ngModel)]="message" />
      <button type="submit" (click)="sendMessage()">
        <ion-icon name="send-sharp" style="width: 30px;height: 20px;"></ion-icon>
      </button>
    </form>
  </div>
</ion-content>
